body{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 30vw;
  height: 30vw;
}

h1.city {
    font-family: 'Courier New', Courier, monospace;
}

span.item {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  display: block;
}


#signInButton {

  position:absolute;
  top:0;
  left:0;
}